    .level4 h3,
    .level4 h2{
        color: rgb(142,11,0);
        font-family: Georgia;
        font-size: 1.8em;
        letter-spacing: 0em;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
    }
    .level4 h3{
        letter-spacing: 0em;
        font-size: 1.5em;
    }
    .level4 h3 span,
    .level4 h2 span{
        display: block;
        margin-top: 0.5em;
        font-family: Verdana;
        font-size: 0.6em;
        font-weight: normal;
        letter-spacing: 0em;
        text-shadow: none;
    }
    .level4 .meta{
        font-family: Georgia;
        color: rgba(69,54,37,0.6);
        font-size: 0.85em;
        font-style: italic;
        letter-spacing: 0.25em;
        border-bottom: 1px solid rgba(69,54,37,0.2);
        padding-bottom: 0.5em;
    }
    .level4 .meta span{
        text-transform: capitalize;
        font-style: normal;
        color: rgba(69,54,37,0.8);
    }
    .first{
        font-weight:bold;
    }